extends typescript

snippet routerlink "import RouterLink from react-router-dom"
  import { Link as RouterLink } from 'react-router-dom'

# snippet ulc "use localization"
#   const { l } = useLocalization$0()
